body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    height: 100%;
}

.buttonDark {
    background-color: black;
    color: blanchedalmond;
    border-radius: .5em;
    height: 3em;
    width: 7em;
    font-size: larger;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button {
    position: relative;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
.buttonDark:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

.buttonDark:hover {
    box-shadow: 3px 3px 3px 3px rgba(139, 50, 139, 0.5);
}

  
.buttonDark:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
#welcomeDiv {
    font-size: 15rem;
    color: rgb(165, 165, 154)
}

#ready {
    font-size: 5rem;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 25%;
}

#questionsContainer, .answerList {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: sticky;
    background-color: black;
    height: fit-content;
    opacity: 75%;
    color: blanchedalmond;
}

#questionsContainer {
    margin-top: 2rem;
    font-size: 2rem;
}

.answerList {
    text-align: center;
    padding-left: 40%;
    font-size: 1.5rem;
}

.counter {
    font-size: 40px;
    font-weight: bold;
}

.hero-image {
    float: none;
    width: 100%;
    height: 100%;
    background-image: url('images/throne.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    overflow: hidden;
}

.hero-text {
    text-align: center;
    font-size: 30px;
    position: relative;
    margin-top: 10%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blanchedalmond;
}

.hidden {
    display: none;
    visibility: hidden;
}

.topbarDiv {
    height: 80px;
    background-color: rgb(36, 2, 36);
    font-style: bold;
    font-size: 16px;
    padding: 15px;
    padding-top: 20px;
}